<span class="c-beta-burst" style="<%= wrapper_style %>" aria-hidden="true">
  <span class="c-beta-burst__fill"></span>
  <span class="c-beta-burst__sheen"></span>
  <span class="c-beta-burst__label" style="<%= label_style %>"><%= @label %></span>
</span>
