<footer class="c-footer">
  <span>XBUTFORY &copy; 2026 &middot; VOL. 01 &middot; AN INDEX OF DUBIOUS BRILLIANCE</span>
  <span class="c-footer__aside">made for builders, by a builder (again)</span>
</footer>
