<footer class="c-footer" data-controller="scramble">
  <span>XBUTFORY &copy; 2026 &middot; VOL. 01 &middot; AN INDEX OF DUBIOUS BRILLIANCE</span>
  <span class="c-footer__aside">made for builders, by a builder (again)</span>
  <button type="button" class="c-footer__scramble" title="do not press" aria-label="do not press" data-action="click->scramble#toggle">&#128302;</button>
</footer>
