<footer class="c-footer">
  <div class="c-footer__inner">
    <p class="c-footer__tagline">An Index of Dubious Brilliance</p>
    <p class="c-footer__credit">made for builders, by a builder (again).</p>
  </div>
</footer>
