<header>
  <div class="c-masthead">
    <div class="c-masthead__eyebrow">THE DIRECTORY OF</div>
    <div class="c-masthead__mark">X<span class="c-masthead__mark-y">but</span>forY.</div>
    <div class="c-masthead__actions">
      <% if search_slot? %>
        <%= search_slot %>
      <% else %>
        <div class="c-masthead__search-placeholder"></div>
      <% end %>
      <button class="c-btn c-btn--rss">📡 RSS</button>
      <% if submit_slot? %>
        <%= submit_slot %>
      <% else %>
        <%= link_to new_submission_path, class: "c-btn c-btn--submit" do %>
          <span style="font-size:17px;margin-top:-1px">+</span> Submit a Site
        <% end %>
      <% end %>
    </div>
  </div>
</header>
