<nav class="c-nav-tabs" aria-label="Main navigation">
  <div class="c-nav-tabs__inner">
    <% @tabs.each do |tab| %>
      <a
        href="<%= tab.path %>"
        class="c-nav-tabs__tab <%= 'c-nav-tabs__tab--active' if tab.key == @active %>"
      >
        <%= tab.label %>
      </a>
    <% end %>
  </div>
</nav>
