<div class="c-search-input">
  <span class="c-search-input__icon" aria-hidden="true">⚲</span>
  <input
    type="text"
    class="c-search-input__field"
    placeholder="<%= @placeholder %>"
    value="<%= @value %>"
    autocomplete="off"
  >
</div>
