<div class="c-sort" role="radiogroup" data-controller="sort">
  <span class="c-sort__label">SORT</span>
  <div class="c-sort__rail">
    <% @options.each do |opt| %>
      <button
        class="c-sort__seg <%= 'c-sort__seg--active' if opt.key == @active %>"
        role="radio"
        aria-checked="<%= opt.key == @active %>"
        data-sort-key="<%= opt.key %>"
        data-action="click->sort#select"
      >
        <%= opt.label %>
      </button>
    <% end %>
  </div>
</div>
