<div class="c-stats">
  <div>
    <div class="c-stats__label">IN THE INDEX</div>
    <div class="c-stats__number"><%= @total_entries %></div>
  </div>
  <div class="c-stats__side">
    <span class="c-stats__accent"><span class="c-stats__live">●</span> <%= @new_today %> new today</span>
    <span class="c-stats__muted"><%= @categories_count %> categories · voted by humans</span>
  </div>
</div>
