<div class="c-submit-preview" data-submit-preview-target="preview">
  <span class="c-submit-preview__label"><%= @label %></span>
  <p class="c-submit-preview__formula <%= 'c-submit-preview__formula--placeholder' if placeholder? %>">
    <span data-submit-preview-target="xDisplay"><%= display_x %></span>
    <em>but for</em>
    <span data-submit-preview-target="yDisplay"><%= display_y %></span>
  </p>
</div>
