<div class="c-utility-bar">
  <div class="c-utility-bar__inner">
    <span class="c-utility-bar__issue">
      <span class="c-utility-bar__live-dot">●</span>
      <%= @issue %>
    </span>
    <span class="c-utility-bar__links">
      <button class="c-utility-bar__link">Sign in</button>
      <button class="c-utility-bar__link c-utility-bar__link--strong">Create account</button>
    </span>
  </div>
</div>
