<div class="c-utility-bar">
  <div class="c-utility-bar__inner">
    <span class="c-utility-bar__issue">
      <span class="c-utility-bar__live-dot"></span>
      <%= @issue %>
    </span>
    <span class="c-utility-bar__links" data-controller="after-dark">
      <button class="c-utility-bar__after-dark" data-after-dark-target="button" data-action="click->after-dark#toggle">🌙 After Dark</button>
      <a href="/sign_in" class="c-utility-bar__link">Sign in</a>
      <a href="/sign_up" class="c-utility-bar__link c-utility-bar__link--strong">Create account</a>
    </span>
  </div>
</div>
